In [7]:
import matplotlib.pyplot as plt
import numpy as np
bs=int(input("Enter your basic salary :"))
hra=int(input("Enter your house rent allowance :"))
sa=int(input("Enter special allowance :"))
lta=int(input("Enter travel allowance :"))
t1=(bs-250000)*5/100
t2=(bs-500000)*10/100+250000*5/100
i1=(bs-750000)*20/100+500000*10/100+250000*5/100
g1=(bs-1000000)*30/100+bs-750000*20/100+500000*10/100+250000*5/100
if bs<250000:
  print("no tax")
elif bs>250001 and bs<500000:
  tax=t1
  print(tax,("tax payable amount"))
elif bs>500001 and bs>750000:
  t=t1+t2
  print(t,('tax payable amount'))
elif bs>750001 and bs>1000000:
  i=t1+t2+i1
  print(i,("tax payable amount"))
else: 
    g=g1+t1+t2+i1
    print(g,("tax payable amount"))
if hra>bs:
  t3=hra*10/100
  print(t3,("hra tax"))

Enter your basic salary :300000
Enter your house rent allowance :310000
Enter special allowance :1540
Enter travel allowance :1250
2500.0 tax payable amount
31000.0 hra tax